/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Code below */

body {
    font-family: 'Anonymous Pro', monospace;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    width: 1200px;
    background-color:red;
}

.article {
    width: 1200px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 5rem 3rem 5rem 3rem;
}

.article card {
    box-shadow: 14px 14px 7px -15px;
}

.card-top {
    height: 7rem;
    padding: 50px 0 50px 0;
    background-image: url(https://images.pexels.com/photos/1779487/pexels-photo-1779487.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position-x: center;
}


.card-bottom {
    background-color: white;
    text-align: left;
    display: grid;
    grid-template-columns: 13fr 1fr 1fr;
    padding: 10px 15px 60px 15px;
}

.card-bottom h2, p {
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 16px;
}

.card-bottom h2 {
    font-weight: bold;
}

.card-bottom i {
    font-size: 21px;
    margin-right: 10px;
}