/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Code below */

body {
    font-family: 'Anonymous Pro', monospace;
    text-align: center;
    text-align: -webkit-center;
}

.container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    /* margin: 10rem 10rem 10rem 10rem; */
}

.header {
    /* max-width: 1200px; */
    /* height: 100px; */
    background-color:#93c5fd;
    grid-column: 1 / -1;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 35px 50px 35px 50px;
    /* place-items: center; */
}

.header > div > div:nth-child(2) {
    background-color: white;
    padding: 40px 30px 30px 20px;
    text-align: left;
    margin: 45px 0 45px 0px;
    display: grid;
    grid-template-columns: 1fr;
}

.header > div > div > h2 {
    font-size: 2rem;
    font-weight: bold;
}

.header > div > div > p {
    /* height: 10px; */
    /* margin-top: 20px; */
    line-height: 25px;
}

.header > div > div:nth-child(1) > img{
    width: 400px;
    height: 500px;
    object-fit: cover;
    /* margin: 50px; */
}

.header > div > div:nth-child(2) > div {align-self: center;justify-self: right;}

.article {
    /* max-width: 1200px; */
    text-align: center;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 5rem 3rem 5rem 3rem;
}

.article card {
    box-shadow: 14px 14px 7px -15px;
}

.card-top {
    height: 17rem;
    background-size: cover;
    background-position-x: center;
}

.card-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;}


.card-bottom {
    background-color: white;
    text-align: left;
    display: grid;
    grid-template-columns: 13fr 1fr 1fr;
    padding: 10px 15px 60px 15px;
}

.card-bottom h2, p {
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 16px;
}

.card-bottom h2 {
    font-weight: bold;
    font-size: 18px;
}

.card-bottom p {
    font-size: 16px;
}

.card-bottom i {
    font-size: 21px;
    margin-right: 10px;
}